#placeholder {
    position: absolute;
    left: 50px;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    height: 50%
}

#right-cell {
    position: absolute;
    right: 50px;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    height: 50%
}

#right-cell p {
    text-align: center;
    font-size: 200%;
}

#smaller {
    font-size: 70%;
}