h1, p {
  font-family: 'Open Sans';
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

.coming-soon h1 {
  margin: 50px auto 30% auto;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
}

.my-gallery {
  margin: 50px auto 25% auto;
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

.subcontent h2 {
  border-bottom: 2px #aaa solid;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}



