h1, p {
  font-family: 'Open Sans';
}

h1,h2 {
  margin-top: 20px;
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.links {
  margin-top: 5%;
  margin-bottom: 5%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

.subcontent ul {
  list-style-type: none;
}

.subcontent li > a {
  font-size: 18px;
}
