body {
    font-family: 'Open Sans';
    background: #ffffff;
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
  margin-bottom: 1%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

#thank-you {
  margin: auto;
  width: 63%;
  padding: 20px;
}

#thank-you p {
  font-size: 75%;
  text-align: center;
}

#spacer {
  margin-top: 2%;
  border-bottom: 3px #aaa solid;
  margin-bottom: 3%;
  width: 100%;
}

.column {
  display: block;
  font-size: 100%;
  margin-bottom: 5%
}

.column > h1 {
  text-align: center;
  font-size: 400%;
}

.column > div {
  margin: 0 auto;
  /*border: 1px solid #000;*/
  height: auto;
  width: auto;
}

.column img {
  margin: 0 auto;
  display: block;
  width: 40%;
  height: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: solid black 2px;
}

#gold {
  border: 4px solid #daa520;
}

#platinum {
  border: 2px solid #bec3c9;
}

#silver {
  border: 2px solid #C0C0C0;
}

#bronze {
  border: 2px solid #8c7853;
}


