h1, p {
  font-family: 'Open Sans';
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

.coming-soon h1 {
  margin: 50px auto 30% auto;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
}

.subcontent > #left-column {
    padding: 1.5%;
    width: 44%;
    float: left;
    display: inline-block;
}

.subcontent > #right-column {
    padding: 1.5%;
    width: 43%;
    float: right;
    display: inline-block;
}

.bronze, .silver, .gold, .platinum, .diamond , .technowolf {
    margin: .25%;
}

h2 {
    border-bottom: 1px solid #888;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 100;
}

.sponsor-logo {
    width: 100%;
}