h1, p {
  font-family: 'Open Sans';
}

.title {
  background-image: url('../img/banner.png');
  height: 300px;
  width: 100%;
}

#note {
  margin-top: 5%;
  text-align: center;
  font-size: 190%
}

#donate-img {
  height: 40%;
  width: 40%;
}

.title > .subcontent {
  position: relative;
  top: 60%;
}

.title > .subcontent > h1 {
  letter-spacing: 2px;
  font-size: 48px;
}

.row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 50px;
}

.column {
  display: table-cell;
  font-size: 150%;
}

.column > div {
  display: inline-table;
  border: 1px solid #000;
  background-color: #dbdbdb;
  height: auto;
  width: auto;
}

.button-holder {
  margin-left: auto;
  margin-right: auto;
}

.column > div > h1, p {
  text-align: center;
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}