h1, p {
  font-family: 'Open Sans';
}

.title {
  background-image: url('../img/title_banner.png');
  height: 300px;
  width: 100%;
}

.title h1 {
  margin: 40px 20px;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

.column {
  width: 30%;
  border: 2px solid #000;
}
